body {
  background-color: antiquewhite;
  font-family: "Satoshi";
}

@font-face {
  font-family: "Satoshi";
  src: url("Z-Assets/Fonts/Satoshi-Regular.otf");
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("Z-Assets/Fonts/Satoshi-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Satoshi-Bold", sans-serif;
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;

  display: flex;
  align-items: center;
  /* justify-content:space-around; */
  height: 45px;
  color: white;
  background-color: black;
}

nav ul li {
  padding: 0px 15px;
}

.brand img {
  width: 36px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px 8px;
}

#home {
  position: absolute;
  left: 200px;
}

#about {
  position: absolute;
  left: 270px;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.bottom {
  position: sticky;
  bottom: 0px;
  /* height: min-content; */
  background-color: black;
  color: white;
  padding: 5px;

  /* center mein karne ke liye isko flex box bnate hai */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  min-height: 60vh;
  background-color: black;
  color: white;
  font-family: "Satoshi";

  display: flex;
  margin: 12px auto;
  width: 70%;
  border-radius: 13px;
  padding: 32px;

  background-image: url("Z-Assets/bgi.jpg");
  background-size: cover;
}

.icons img {
  filter: invert(1) saturate(100%);
  cursor: pointer;
  margin: 0px 10px;
}

.icons {
  margin-bottom: 3px;
}

#progressBar {
  width: 50vw;
  margin: 10px 0;
  cursor: pointer;
}

.songItem {
  height: 30px;
  width: 100%;
  display: flex;
  background-color: #1ed760;
  color: black;

  margin: 10px 0px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.songItem img {
  width: 40px;
  margin: 0 10px;
  border-radius: 5px;

  /* border: 2px solid black; */
}

.timestamp {
  margin: 0 12px;
}

.timestamp i {
  cursor: pointer;
}

.songItemContainer {
  margin-top: 50px;
}

.songInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#gif {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.songItemPlay{
  cursor: pointer;
}
